In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

house_price = pd.read_csv("House_price_zillow.csv")
house_price.head()

,RegionName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,...,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019
0,Los Angeles,519086.8705,5.207955e+05,5.201827e+05,5.196099e+05,5.197831e+05,5.211135e+05,5.208987e+05,5.187803e+05,5.149542e+05,...,6.897376e+05,6.814279e+05,6.763954e+05,6.733915e+05,6.748100e+05,6.809163e+05,6.901198e+05,6.992919e+05,7.076537e+05,7.155686e+05
1,San Diego,498102.5395,5.015779e+05,5.047018e+05,5.071382e+05,5.094406e+05,5.118601e+05,5.137241e+05,5.159188e+05,5.187781e+05,...,6.388527e+05,6.402338e+05,6.411670e+05,6.419860e+05,6.418655e+05,6.424454e+05,6.429029e+05,6.446148e+05,6.473825e+05,6.507395e+05
2,San Jose,697018.8767,7.046539e+05,7.088075e+05,7.104318e+05,7.120642e+05,7.155272e+05,7.231342e+05,7.334725e+05,7.470901e+05,...,1.039634e+06,1.023506e+06,1.010750e+06,9.993012e+05,9.925774e+05,9.895395e+05,9.918104e+05,9.943792e+05,9.972238e+05,1.000597e+06
3,San Francisco,996609.0324,1.013223e+06,1.028767e+06,1.042639e+06,1.056898e+06,1.072251e+06,1.085496e+06,1.097599e+06,1.109882e+06,...,1.288392e+06,1.283121e+06,1.281107e+06,1.283965e+06,1.290062e+06,1.298976e+06,1.306906e+06,1.312538e+06,1.318442e+06,1.324412e+06
4,Sacramento,231406.3255,2.332678e+05,2.351635e+05,2.372168e+05,2.395283e+05,2.419269e+05,2.439305e+05,2.457278e+05,2.480084e+05,...,3.391182e+05,3.403117e+05,3.411100e+05,3.417555e+05,3.425741e+05,3.435786e+05,3.448660e+05,3.466134e+05,3.490171e+05,3.512768e+05

In [5]:
years = range(2015,2020)
year_mean = []
for year in years:
    start = f"1/31/{year}"
    end = f"12/31/{year}"
    mean = house_price.loc[:, start:end].mean(axis=1)
    year_mean.append((year, round(mean,1)))

for year, mean in year_mean:
    house_price[str((year))] = mean
    
selected_columns = ["RegionName"] + [str(year) for year in years]
clear_house_price = house_price[selected_columns]

clear_house_price = clear_house_price.sort_values(by="RegionName")
clear_house_price = clear_house_price.reset_index(drop=True)
clear_house_price.dropna(how='any', inplace=True)
clear_house_price

       RegionName      2015      2016      2017      2018      2019
0          Acampo  405627.8  450817.9  493062.7  542123.8  568173.6
1           Acton  432973.8  453210.8  487450.7  541173.4  569946.7
2        Adelanto  151341.3  163054.6  185452.3  215121.7  229748.6
3            Adin  153454.8  166115.6  177356.4  188580.6  193279.7
4    Agoura Hills  695740.1  701358.5  756611.8  826808.6  831652.6
..            ...       ...       ...       ...       ...       ...
960    Yountville  804310.8  864163.2  915109.8  964335.2  992205.4
961         Yreka  146663.0  155553.3  163145.6  174738.5  190141.5
962     Yuba City  222405.7  240476.2  267727.7  292844.2  307497.6
963       Yucaipa  289755.2  306504.9  336133.9  371743.9  379896.7
964  Yucca Valley  132496.1  141398.5  161270.1  194505.4  204356.4

[889 rows x 6 columns]

In [6]:
csv_path = f"Clean_House_Price.csv"
clear_house_price.to_csv(csv_path, index=False)