In [1]:
import pandas as pd
import re
from pathlib import Path
import numpy as np

In [2]:
edu_data=pd.read_excel(Path("Education Level 2010-2019/Education_Data_2010_2019.xlsx"))
edu_data = edu_data.rename(columns={'Geographic Area Name': 'City'})
edu_data.head()

,Year,City,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",Population 25 years and over - Associate's degree,Percent Population 25 years and over - Associate's degree,Population 25 years and over - Bachelor's degree,Percent Population 25 years and over - Bachelor's degree,Population 25 years and over - Graduate or Prefessional Degree,Percent Population 25 years and over - Graduate or Prefessional Degree
0,2010,Alameda,2752,5.5,2234,4.5,8546,17.0,10009,19.9,2894,5.8,15544,31.0,8201,16.3
1,2010,Alhambra,6236,10.1,4575,7.4,13358,21.7,12091,19.6,5497,8.9,13368,21.7,6442,10.5
2,2010,Anaheim,32561,15.5,22329,10.7,50982,24.3,39407,18.8,14130,6.7,37672,18.0,12560,6.0
3,2010,Antioch,4874,7.7,4633,7.3,17092,26.9,20113,31.7,5569,8.8,8629,13.6,2617,4.1
4,2010,Apple Valley,639,1.5,3353,7.7,14524,33.4,11690,26.9,4802,11.0,4582,10.5,3919,9.0

In [3]:
age_data=pd.read_csv(Path("Age 2010-2019/Merged_Age_2010_2019.csv"))

age_data.tail()

,Year,City,Total population,Under 5 years,Percent Under 5 years,5 to 9 years,Percent 5 to 9 years,10 to 14 years,Percent 10 to 14 years,15 to 19 years,...,55 to 59 years,Percent 55 to 59 years,60 to 64 years,Percent 60 to 64 years,65 to 74 years,Percent 65 to 74 years,75 to 84 years,Percent 75 to 84 years,85 years and over,Percent 85 years and over
1364,2019,West Covina,"105,114","6,515",6.20%,"4,961",4.70%,"6,263",6.00%,"5,938",...,"7,093",6.70%,"6,337",6.00%,"10,239",9.70%,"5,011",4.80%,"1,728",1.60%
1365,2019,Westminster,"90,642","5,782",6.40%,"4,592",5.10%,"6,058",6.70%,"4,936",...,"4,863",5.40%,"6,589",7.30%,"6,156",6.80%,"5,885",6.50%,"2,319",2.60%
1366,2019,Whittier,"85,087","5,514",6.50%,"6,355",7.50%,"5,943",7.00%,"5,495",...,"5,510",6.50%,"4,636",5.40%,"6,432",7.60%,"4,251",5.00%,"1,658",1.90%
1367,2019,Yorba Linda,"67,645","3,042",4.50%,"4,029",6.00%,"4,588",6.80%,"3,694",...,"5,751",8.50%,"4,263",6.30%,"7,889",11.70%,"4,071",6.00%,884,1.30%
1368,2019,Yuba City,"67,009","3,000",4.50%,"4,924",7.30%,"4,268",6.40%,"4,742",...,"3,286",4.90%,"5,164",7.70%,"5,894",8.80%,"3,803",5.70%,"1,502",2.20%

In [4]:
crime_data=pd.read_csv(Path("crime_data/crime_cleaned.csv"))

crime_data.head()

   Year                              City  Violent Crimes Sum
0  2010  Alameda Co. Sheriff's Department                 698
1  2010                           Alameda                 173
2  2010                            Albany                  37
3  2010                          Berkeley                 533
4  2010                        Emeryville                 128

In [5]:
income_data=pd.read_csv(Path("data_incomes_california_cities/clean_data/incomes_2010to2019.csv"))

income_data.head()

   Year          City  Unemployment Rate  Income
0  2010       Alameda               11.1   28011
1  2010      Alhambra                9.2   28100
2  2010       Anaheim               14.4  100404
3  2010       Antioch               15.3   30970
4  2010  Apple Valley               12.3   23900

In [6]:
poverty_data=pd.read_csv(Path("Poverty_Resources 2010-2019/All_Family_Poverty_2010_2019.csv"))

poverty_data.head()

   Year          City % All Families
0  2010       Alameda            9.6
1  2010      Alhambra           10.7
2  2010       Anaheim           12.4
3  2010       Antioch              8
4  2010  Apple Valley           10.4

In [7]:
house_price_data=pd.read_csv(Path("Poverty_Resources 2010-2019/Clean_House_Price_2010_2019.csv"))
house_price_data = house_price_data.rename(columns={'RegionName': 'City'})
house_price_data.head()

   Year          City  House price mean
0  2010        Acampo          289951.9
1  2010         Acton          355516.6
2  2010      Adelanto           90051.3
3  2010  Agoura Hills          579185.2
4  2010    Agua Dulce          456420.5

In [8]:
rent_own_data=pd.read_csv(Path("Own_vs_rent 2010-2019/rent_vs_own_cleaned 2010_2019.csv"))

rent_own_data.head()

   Year          City   Total Total Occupied Renter occupied
0  2010       Alameda   28011          13143           14868
1  2010      Alhambra   28100          10693           17407
2  2010       Anaheim  100404          48584           51820
3  2010       Antioch   30970          19439           11531
4  2010  Apple Valley   23900          16895            7005

In [9]:
# edu_data age_data crime_data income_data house_price_data rent_own_data
all_df = edu_data.merge(age_data, on=['City', 'Year'], how='left') \
                 .merge(crime_data, on=['City', 'Year'], how='left') \
                 .merge(income_data, on=['City', 'Year'], how='left') \
                 .merge(house_price_data, on=['City', 'Year'], how='left') \
                 .merge(poverty_data, on=['City', 'Year'], how='left') \
                 .merge(rent_own_data, on=['City', 'Year'], how='left')

In [10]:
all_df

,Year,City,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",...,85 years and over,Percent 85 years and over,Violent Crimes Sum,Unemployment Rate,Income,House price mean,% All Families,Total,Total Occupied,Renter occupied
0,2010,Alameda,2752,5.50,2234,4.50,8546,17.00,10009,19.90,...,1541,2.1,173.0,11.1,28011.0,605675.9,9.6,28011,13143,14868
1,2010,Alhambra,6236,10.10,4575,7.40,13358,21.70,12091,19.60,...,2461,3,185.0,9.2,28100.0,441616.7,10.7,28100,10693,17407
2,2010,Anaheim,32561,15.50,22329,10.70,50982,24.30,39407,18.80,...,4037,1.2,1161.0,14.4,100404.0,371899.4,12.4,100404,48584,51820
3,2010,Antioch,4874,7.70,4633,7.30,17092,26.90,20113,31.70,...,1165,1.1,864.0,15.3,30970.0,181427.3,8,30970,19439,11531
4,2010,Apple Valley,639,1.50,3353,7.70,14524,33.40,11690,26.90,...,1515,2.2,188.0,12.3,23900.0,138720.2,10.4,23900,16895,7005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1364,2019,West Covina,5308,7.09,4530,6.05,20919,27.95,16083,21.49,...,"1,728",1.60%,260.0,4.3,30682.0,570472.8,4.1,"30,682","17,788","12,894"
1365,2019,Westminster,8307,13.03,6607,10.36,15641,24.53,11273,17.68,...,"2,319",2.60%,259.0,4.5,26984.0,676782.2,13.5,"26,984","12,741","14,243"
1366,2019,Whittier,3021,5.44,3921,7.06,16232,29.24,12079,21.76,...,"1,658",1.90%,213.0,3.3,26884.0,552625.8,4.7,"26,884","16,380","10,504"
1367,2019,Yorba Linda,613,1.24,1576,3.19,6748,13.65,9289,18.79,...,884,1.30%,42.0,1.7,22676.0,846823.6,3.5,NaN,NaN,NaN
1368,2019,Yuba City,5344,11.93,4756,10.62,9396,20.97,11112,24.80,...,"1,502",2.20%,241.0,5.2,24393.0,307497.6,11.3,"24,393","13,304","11,089"

In [11]:
all_df_clean = all_df.dropna()

In [12]:
all_df_reset = all_df_clean.reset_index(drop=True)

In [13]:
all_df_reset.dtypes

Year                                                                              int64
City                                                                             object
Population 25 years and over - Less than 9th grade                                int64
Percent Population 25 years and over - Less than 9th grade                      float64
Population 25 years and over - 9th to12th (No Diploma)                            int64
Percent Population 25 years and over - 9th to12th (No Diploma)                  float64
Population 25 years and over - High School Graduate (and equivalent)              int64
Percent Population 25 years and over - High School Graduate (and equivalent)    float64
Population 25 years and over - Some college, no degree                            int64
Percent Population 25 years and over - Some college, no degree                  float64
Population 25 years and over - Associate's degree                                 int64
Percent Population 25 years and over - Associate's degree                       float64
Population 25 years and over - Bachelor's degree                                  int64
Percent Population 25 years and over - Bachelor's degree                        float64
Population 25 years and over - Graduate or Prefessional Degree                    int64
Percent Population 25 years and over - Graduate or Prefessional Degree          float64
Total population                                                                 object
Under 5 years                                                                    object
Percent Under 5 years                                                            object
5 to 9 years                                                                     object
Percent 5 to 9 years                                                             object
10 to 14 years                                                                   object
Percent 10 to 14 years                                                           object
15 to 19 years                                                                   object
Percent 15 to 19 years                                                           object
20 to 24 years                                                                   object
Percent 20 to 24 years                                                           object
25 to 34 years                                                                   object
Percent 25 to 34 years                                                           object
35 to 44 years                                                                   object
Percent 35 to 44 years                                                           object
45 to 54 years                                                                   object
Percent 45 to 54 years                                                           object
55 to 59 years                                                                   object
Percent 55 to 59 years                                                           object
60 to 64 years                                                                   object
Percent 60 to 64 years                                                           object
65 to 74 years                                                                   object
Percent 65 to 74 years                                                           object
75 to 84 years                                                                   object
Percent 75 to 84 years                                                           object
85 years and over                                                                object
Percent 85 years and over                                                        object
Violent Crimes Sum                                                              float64
Unemployment Rate                                                               float64
Income                                                                          float64
House price mean                                                                float64
% All Families                                                                   object
Total                                                                            object
Total Occupied                                                                   object
Renter occupied                                                                  object
dtype: object

In [14]:
columns_to_convert = [
    "Under 5 years", "5 to 9 years", "10 to 14 years", "15 to 19 years", "20 to 24 years", "25 to 34 years",
    "35 to 44 years", "45 to 54 years", "55 to 59 years", "60 to 64 years", "65 to 74 years", "75 to 84 years",
    "85 years and over",
    'Total population', 'Under 5 years', 'Percent Under 5 years', 
    '5 to 9 years', 'Percent 5 to 9 years', '10 to 14 years', 
    'Percent 10 to 14 years', '15 to 19 years', 'Percent 15 to 19 years', 
    '20 to 24 years', 'Percent 20 to 24 years', '25 to 34 years', 
    'Percent 25 to 34 years', '35 to 44 years', 'Percent 35 to 44 years', 
    '45 to 54 years', 'Percent 45 to 54 years', '55 to 59 years', 
    'Percent 55 to 59 years', '60 to 64 years', 'Percent 60 to 64 years', 
    '65 to 74 years', 'Percent 65 to 74 years', '75 to 84 years', 
    'Percent 75 to 84 years', '85 years and over', 'Percent 85 years and over', 'Total', 'Total Occupied', 'Renter occupied'
]

for column in columns_to_convert:
    # Convert the column to string type before replacing characters
    all_df_reset[column] = all_df_reset[column].astype(str).str.replace(',|%', '', regex=True).astype(float)

In [15]:
all_df_reset['Crime_Rate_per_100k'] = (all_df_reset['Violent Crimes Sum'] / all_df_reset['Total population']) * 100000
all_df_reset['Percent Home Occupied'] = all_df_reset['Total Occupied'] / all_df_reset['Total'] * 100
all_df_reset['Percent Renter Occupied'] = all_df_reset['Renter occupied'] / all_df_reset['Total'] * 100
all_df_reset['Percent 25+'] = (
    all_df_reset['Percent 25 to 34 years'] +
    all_df_reset['Percent 35 to 44 years'] +
    all_df_reset['Percent 45 to 54 years'] +
    all_df_reset['Percent 55 to 59 years'] + 
    all_df_reset['Percent 60 to 64 years'] +
    all_df_reset['Percent 65 to 74 years'] +
    all_df_reset['Percent 75 to 84 years']
)

all_df_reset['Percent 14-'] = (
    all_df_reset['Percent Under 5 years'] +
    all_df_reset['Percent 5 to 9 years'] +
    all_df_reset['Percent 10 to 14 years']
)

all_df_reset['Percent 15 to 24'] = (
    all_df_reset['Percent 15 to 19 years'] +
    all_df_reset['Percent 20 to 24 years']
)

all_df_reset['Percent Uneducated'] = ( 
    all_df_reset['Percent Population 25 years and over - Less than 9th grade'] +
    all_df_reset['Percent Population 25 years and over - 9th to12th (No Diploma)']
)

all_df_reset['Percent Higher Education'] = (
    all_df_reset['Percent Population 25 years and over - Graduate or Prefessional Degree'] +
    all_df_reset["Percent Population 25 years and over - Bachelor's degree"] +
    all_df_reset["Percent Population 25 years and over - Associate's degree"]
)

all_df_reset['Sum Uneducated'] = ( 
    all_df_reset['Population 25 years and over - Less than 9th grade'] +
    all_df_reset['Population 25 years and over - 9th to12th (No Diploma)']
)

all_df_reset['Sum Higher Education'] = (
    all_df_reset['Population 25 years and over - Graduate or Prefessional Degree'] +
    all_df_reset["Population 25 years and over - Bachelor's degree"] +
    all_df_reset["Population 25 years and over - Associate's degree"]
)

In [16]:
all_df_reset

,Year,City,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",...,Crime_Rate_per_100k,Percent Home Occupied,Percent Renter Occupied,Percent 25+,Percent 14-,Percent 15 to 24,Percent Uneducated,Percent Higher Education,Sum Uneducated,Sum Higher Education
0,2010,Alameda,2752,5.50,2234,4.50,8546,17.00,10009,19.90,...,233.843825,46.920853,53.079147,65.8,19.8,12.3,10.00,53.10,4986,26639
1,2010,Alhambra,6236,10.10,4575,7.40,13358,21.70,12091,19.60,...,222.350424,38.053381,61.946619,71.1,12.9,13.1,17.50,41.10,10811,25307
2,2010,Anaheim,32561,15.50,22329,10.70,50982,24.30,39407,18.80,...,344.245817,48.388510,51.611490,61.0,21.2,16.7,26.20,30.70,54890,64362
3,2010,Antioch,4874,7.70,4633,7.30,17092,26.90,20113,31.70,...,840.916833,62.767194,37.232806,60.7,22.9,15.5,15.00,26.50,9507,16815
4,2010,Apple Valley,639,1.50,3353,7.70,14524,33.40,11690,26.90,...,270.944125,70.690377,29.309623,60.4,23.4,13.9,9.20,30.50,3992,13303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2019,Vista,10080,15.05,6638,9.91,13245,19.77,16027,23.93,...,348.291502,45.724859,54.275141,64.4,19.9,14.1,24.96,31.34,16718,20990
1161,2019,West Covina,5308,7.09,4530,6.05,20919,27.95,16083,21.49,...,247.350496,57.975360,42.024640,69.5,16.9,11.9,13.14,37.41,9838,28003
1162,2019,Westminster,8307,13.03,6607,10.36,15641,24.53,11273,17.68,...,285.739503,47.216869,52.783131,68.0,18.2,11.5,23.39,34.41,14914,21943
1163,2019,Whittier,3021,5.44,3921,7.06,16232,29.24,12079,21.76,...,250.332013,60.928433,39.071567,63.3,21.0,13.9,12.50,36.49,6942,20258
1164,2019,Yuba City,5344,11.93,4756,10.62,9396,20.97,11112,24.80,...,359.653181,54.540237,45.459763,64.6,18.2,15.0,22.55,31.69,10100,14192

In [17]:
all_df_reset.dtypes

Year                                                            int64
City                                                           object
Population 25 years and over - Less than 9th grade              int64
Percent Population 25 years and over - Less than 9th grade    float64
Population 25 years and over - 9th to12th (No Diploma)          int64
                                                               ...
Percent 15 to 24                                              float64
Percent Uneducated                                            float64
Percent Higher Education                                      float64
Sum Uneducated                                                  int64
Sum Higher Education                                            int64
Length: 61, dtype: object

In [18]:
# List of columns to convert from 'object' to 'float64'
percentage_columns = [
    'Percent Under 5 years',
    'Percent 5 to 9 years',
    'Percent 10 to 14 years',
    'Percent 15 to 19 years',
    'Percent 20 to 24 years',
    'Percent 25 to 34 years',
    'Percent 35 to 44 years',
    'Percent 45 to 54 years',
    'Percent 55 to 59 years',
    'Percent 60 to 64 years',
    'Percent 65 to 74 years',
    'Percent 75 to 84 years',
    'Percent 85 years and over',
    '% All Families',
    'House price mean',
    'Total population'
]

# Convert each of the percentage columns to numeric type (float64)
for column in percentage_columns:
    all_df_reset[column] = pd.to_numeric(all_df_reset[column], errors='coerce')

# Check the data types again to confirm the changes
print(all_df_reset.dtypes)

Year                                                            int64
City                                                           object
Population 25 years and over - Less than 9th grade              int64
Percent Population 25 years and over - Less than 9th grade    float64
Population 25 years and over - 9th to12th (No Diploma)          int64
                                                               ...
Percent 15 to 24                                              float64
Percent Uneducated                                            float64
Percent Higher Education                                      float64
Sum Uneducated                                                  int64
Sum Higher Education                                            int64
Length: 61, dtype: object

In [19]:
all_df_reset

,Year,City,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",...,Crime_Rate_per_100k,Percent Home Occupied,Percent Renter Occupied,Percent 25+,Percent 14-,Percent 15 to 24,Percent Uneducated,Percent Higher Education,Sum Uneducated,Sum Higher Education
0,2010,Alameda,2752,5.50,2234,4.50,8546,17.00,10009,19.90,...,233.843825,46.920853,53.079147,65.8,19.8,12.3,10.00,53.10,4986,26639
1,2010,Alhambra,6236,10.10,4575,7.40,13358,21.70,12091,19.60,...,222.350424,38.053381,61.946619,71.1,12.9,13.1,17.50,41.10,10811,25307
2,2010,Anaheim,32561,15.50,22329,10.70,50982,24.30,39407,18.80,...,344.245817,48.388510,51.611490,61.0,21.2,16.7,26.20,30.70,54890,64362
3,2010,Antioch,4874,7.70,4633,7.30,17092,26.90,20113,31.70,...,840.916833,62.767194,37.232806,60.7,22.9,15.5,15.00,26.50,9507,16815
4,2010,Apple Valley,639,1.50,3353,7.70,14524,33.40,11690,26.90,...,270.944125,70.690377,29.309623,60.4,23.4,13.9,9.20,30.50,3992,13303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,2019,Vista,10080,15.05,6638,9.91,13245,19.77,16027,23.93,...,348.291502,45.724859,54.275141,64.4,19.9,14.1,24.96,31.34,16718,20990
1161,2019,West Covina,5308,7.09,4530,6.05,20919,27.95,16083,21.49,...,247.350496,57.975360,42.024640,69.5,16.9,11.9,13.14,37.41,9838,28003
1162,2019,Westminster,8307,13.03,6607,10.36,15641,24.53,11273,17.68,...,285.739503,47.216869,52.783131,68.0,18.2,11.5,23.39,34.41,14914,21943
1163,2019,Whittier,3021,5.44,3921,7.06,16232,29.24,12079,21.76,...,250.332013,60.928433,39.071567,63.3,21.0,13.9,12.50,36.49,6942,20258
1164,2019,Yuba City,5344,11.93,4756,10.62,9396,20.97,11112,24.80,...,359.653181,54.540237,45.459763,64.6,18.2,15.0,22.55,31.69,10100,14192

In [20]:
all_df_reset.to_csv('All_data_cleaned.csv', index=False)

In [21]:
def remove_outliers(df):
    for column in df.select_dtypes(include=[np.number]).columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Filtering the data
        df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
        
    return df


cleaned_df = remove_outliers(all_df_reset)
cleaned_df.describe()

,Year,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",Population 25 years and over - Associate's degree,...,Crime_Rate_per_100k,Percent Home Occupied,Percent Renter Occupied,Percent 25+,Percent 14-,Percent 15 to 24,Percent Uneducated,Percent Higher Education,Sum Uneducated,Sum Higher Education
count,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,...,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000
mean,2014.541311,4953.874644,8.534900,4619.997151,7.981937,13817.478632,23.814872,14015.319088,24.081681,5076.527066,...,315.352537,58.358410,41.641590,64.398575,20.058974,13.872365,16.516838,35.590883,9573.871795,20723.025641
std,2.795482,2523.166761,4.154072,1827.356314,2.961850,3399.100111,4.671500,3376.623373,3.962168,1375.300642,...,132.054514,8.668388,8.668388,3.627171,2.837780,1.961153,6.386848,9.402522,3962.743720,6414.269819
min,2010.000000,213.000000,0.510000,1098.000000,1.740000,5939.000000,11.380000,7019.000000,14.100000,2116.000000,...,43.874572,37.173101,20.387138,54.100000,12.800000,9.100000,4.550000,13.200000,1897.000000,7843.000000
25%,2012.000000,2867.000000,5.400000,3352.000000,5.950000,11203.500000,21.085000,11512.500000,21.300000,4129.500000,...,221.782099,53.339794,35.766613,61.800000,18.200000,12.400000,11.550000,29.235000,6362.000000,15868.000000
50%,2015.000000,4784.000000,7.900000,4337.000000,7.550000,13859.000000,23.600000,13584.000000,23.900000,4967.000000,...,303.478227,58.054143,41.945857,64.300000,20.100000,13.800000,15.730000,35.450000,9171.000000,20916.000000
75%,2017.000000,6587.000000,11.400000,5639.500000,9.900000,16059.500000,27.300000,16057.000000,26.900000,5848.000000,...,395.345141,64.233387,46.660206,67.000000,22.000000,15.300000,21.000000,41.550000,12081.500000,24855.000000
max,2019.000000,12090.000000,22.670000,9933.000000,16.800000,22135.000000,37.500000,23690.000000,33.940000,8679.000000,...,678.677017,79.612862,62.826899,73.700000,26.900000,19.300000,34.400000,59.950000,20266.000000,37275.000000

In [22]:
cleaned_df.to_csv('no_outliers_cleaned.csv', index=False)