In [1]:
import pandas as pd
import re
from pathlib import Path

In [2]:
edu_data=pd.read_csv(Path("education_level_california/clean_education_level.csv"))
edu_data = edu_data.rename(columns={'Geographic Area Name': 'City'})
edu_data.head()

,Year,City,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",Population 25 years and over - Associate's degree,Percent Population 25 years and over - Associate's degree,Population 25 years and over - Bachelor's degree,Percent Population 25 years and over - Bachelor's degree,Population 25 years and over - Graduate or Prefessional Degree,Percent Population 25 years and over - Graduate or Prefessional Degree
0,2015,Alameda,2089,3.6,2089,3.6,7242,12.3,11010,18.7,4306,7.3,21182,36.0,10862,18.5
1,2015,Alhambra,5402,8.3,4923,7.6,18760,28.8,9435,14.5,3932,6.0,14871,22.9,7725,11.9
2,2015,Anaheim,32506,14.4,25762,11.4,53477,23.6,47633,21.1,14397,6.4,39422,17.4,13082,5.8
3,2015,Antioch,5393,7.8,3315,4.8,17637,25.7,23049,33.5,5950,8.7,9369,13.6,4041,5.9
4,2015,Apple Valley,1502,3.5,4536,10.5,14301,33.1,11302,26.2,3354,7.8,4941,11.4,3219,7.5

In [3]:
age_data=pd.read_csv(Path("Age_Data/Merged_Age.csv"))

age_data.head()

,Year,City,Total population,Under 5 years,Percent Under 5 years,5 to 9 years,Percent 5 to 9 years,10 to 14 years,Percent 10 to 14 years,15 to 19 years,...,55 to 59 years,Percent 55 to 59 years,60 to 64 years,Percent 60 to 64 years,65 to 74 years,Percent 65 to 74 years,75 to 84 years,Percent 75 to 84 years,85 years and over,Percent 85 years and over
0,2015,Alameda,"78,614","4,187",5.30%,"4,856",6.20%,"4,035",5.10%,"2,754",...,"5,773",7.30%,"5,014",6.40%,"6,529",8.30%,"3,599",4.60%,"1,541",2.00%
1,2015,Alhambra,"85,572","3,829",4.50%,"3,999",4.70%,"3,335",3.90%,"3,942",...,"7,603",8.90%,"5,149",6.00%,"7,685",9.00%,"3,237",3.80%,"2,210",2.60%
2,2015,Anaheim,"350,738","24,928",7.10%,"24,294",6.90%,"22,470",6.40%,"24,202",...,"18,960",5.40%,"14,055",4.00%,"20,364",5.80%,"10,167",2.90%,"5,608",1.60%
3,2015,Antioc,"110,542","8,080",7.30%,"7,804",7.10%,"8,237",7.50%,"8,101",...,"8,494",7.70%,"5,184",4.70%,"6,757",6.10%,"2,649",2.40%,"1,485",1.30%
4,2015,Apple Valley,"72,185","5,389",7.50%,"6,005",8.30%,"5,505",7.60%,"6,401",...,"3,837",5.30%,"4,452",6.20%,"6,897",9.60%,"4,422",6.10%,"1,044",1.40%

In [4]:
crime_data=pd.read_csv(Path("crime_data/crime_cleaned.csv"))

crime_data.head()

   Year                              City  Violent Crimes Sum
0  2015  Alameda Co. Sheriff's Department                 510
1  2015                           Alameda                 148
2  2015                            Albany                  34
3  2015                          Berkeley                 530
4  2015                        Emeryville                 153

In [5]:
income_data=pd.read_csv(Path("data_incomes_california_cities/clean_data/incomes_2015to2019.csv"))

income_data.head()

   Year          City  Unemployment Rate  Income
0  2015       Alameda                4.3   30710
1  2015      Alhambra                4.1   29362
2  2015       Anaheim                6.7   99991
3  2015       Antioch                7.8   33214
4  2015  Apple Valley               11.5   23644

In [6]:
income_data=pd.read_csv(Path("Poverty_Resources/All_Family_Poverty.csv"))

income_data.head()

   Year          City % All Families
0  2015       Alameda            5.2
1  2015      Alhambra           11.8
2  2015       Anaheim           11.8
3  2015       Antioch           11.8
4  2015  Apple Valley           19.3

In [7]:
house_price_data=pd.read_csv(Path("Poverty_Resources/Clean_House_Price.csv"))
house_price_data = house_price_data.rename(columns={'RegionName': 'City'})
house_price_data.head()

   Year          City House Price Mean
0  2015        Acampo         405627.8
1  2015         Acton         432973.8
2  2015      Adelanto         151341.3
3  2015          Adin         153454.8
4  2015  Agoura Hills         695740.1

In [8]:
rent_own_data=pd.read_csv(Path("rent_vs_own_data/rent_vs_own_cleaned.csv"))

rent_own_data.head()

   Year               City   Total Total Occupied Renter occupied
0  2015            Alameda  30,710         13,544          17,166
1  2015           Alhambra  29,362         12,184          17,178
2  2015            Anaheim  99,991         43,468          56,523
3  2015            Antioch  33,214         18,808          14,406
4  2015  Apple Valley town  23,644         15,407           8,237

In [9]:
# edu_data age_data crime_data income_data house_price_data rent_own_data
all_df = edu_data.merge(age_data, on=['City', 'Year'], how='left') \
                 .merge(crime_data, on=['City', 'Year'], how='left') \
                 .merge(income_data, on=['City', 'Year'], how='left') \
                 .merge(house_price_data, on=['City', 'Year'], how='left') \
                 .merge(rent_own_data, on=['City', 'Year'], how='left')

In [10]:
all_df

,Year,City,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",...,75 to 84 years,Percent 75 to 84 years,85 years and over,Percent 85 years and over,Violent Crimes Sum,% All Families,House Price Mean,Total,Total Occupied,Renter occupied
0,2015,Alameda,2089,3.60,2089,3.60,7242,12.30,11010,18.70,...,"3,599",4.60%,"1,541",2.00%,148.0,5.2,789464.7,"30,710","13,544","17,166"
1,2015,Alhambra,5402,8.30,4923,7.60,18760,28.80,9435,14.50,...,"3,237",3.80%,"2,210",2.60%,168.0,11.8,524186.5,"29,362","12,184","17,178"
2,2015,Anaheim,32506,14.40,25762,11.40,53477,23.60,47633,21.10,...,"10,167",2.90%,"5,608",1.60%,1271.0,11.8,479128.8,"99,991","43,468","56,523"
3,2015,Antioch,5393,7.80,3315,4.80,17637,25.70,23049,33.50,...,NaN,NaN,NaN,NaN,771.0,11.8,323531.8,"33,214","18,808","14,406"
4,2015,Apple Valley,1502,3.50,4536,10.50,14301,33.10,11302,26.20,...,"4,422",6.10%,"1,044",1.40%,234.0,19.3,194588.4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,2019,West Covina,5308,7.09,4530,6.05,20919,27.95,16083,21.49,...,"5,011",4.80%,"1,728",1.60%,260.0,4.1,570472.8,"30,682","17,788","12,894"
700,2019,Westminster,8307,13.03,6607,10.36,15641,24.53,11273,17.68,...,"5,885",6.50%,"2,319",2.60%,259.0,13.5,676782.2,"26,984","12,741","14,243"
701,2019,Whittier,3021,5.44,3921,7.06,16232,29.24,12079,21.76,...,"4,251",5.00%,"1,658",1.90%,213.0,4.7,552625.8,"26,884","16,380","10,504"
702,2019,Yorba Linda,613,1.24,1576,3.19,6748,13.65,9289,18.79,...,"4,071",6.00%,884,1.30%,42.0,3.5,846823.6,NaN,NaN,NaN
703,2019,Yuba City,5344,11.93,4756,10.62,9396,20.97,11112,24.80,...,"3,803",5.70%,"1,502",2.20%,241.0,11.3,307497.6,"24,393","13,304","11,089"

In [11]:
all_df_clean = all_df.dropna()

In [12]:
all_df_reset = all_df_clean.reset_index(drop=True)

In [13]:
all_df_reset.dtypes

Year                                                                              int64
City                                                                             object
Population 25 years and over - Less than 9th grade                                int64
Percent Population 25 years and over - Less than 9th grade                      float64
Population 25 years and over - 9th to12th (No Diploma)                            int64
Percent Population 25 years and over - 9th to12th (No Diploma)                  float64
Population 25 years and over - High School Graduate (and equivalent)              int64
Percent Population 25 years and over - High School Graduate (and equivalent)    float64
Population 25 years and over - Some college, no degree                            int64
Percent Population 25 years and over - Some college, no degree                  float64
Population 25 years and over - Associate's degree                                 int64
Percent Population 25 years and over - Associate's degree                       float64
Population 25 years and over - Bachelor's degree                                  int64
Percent Population 25 years and over - Bachelor's degree                        float64
Population 25 years and over - Graduate or Prefessional Degree                    int64
Percent Population 25 years and over - Graduate or Prefessional Degree          float64
Total population                                                                 object
Under 5 years                                                                    object
Percent Under 5 years                                                            object
5 to 9 years                                                                     object
Percent 5 to 9 years                                                             object
10 to 14 years                                                                   object
Percent 10 to 14 years                                                           object
15 to 19 years                                                                   object
Percent 15 to 19 years                                                           object
20 to 24 years                                                                   object
Percent 20 to 24 years                                                           object
25 to 34 years                                                                   object
Percent 25 to 34 years                                                           object
35 to 44 years                                                                   object
Percent 35 to 44 years                                                           object
45 to 54 years                                                                   object
Percent 45 to 54 years                                                           object
55 to 59 years                                                                   object
Percent 55 to 59 years                                                           object
60 to 64 years                                                                   object
Percent 60 to 64 years                                                           object
65 to 74 years                                                                   object
Percent 65 to 74 years                                                           object
75 to 84 years                                                                   object
Percent 75 to 84 years                                                           object
85 years and over                                                                object
Percent 85 years and over                                                        object
Violent Crimes Sum                                                              float64
% All Families                                                                   object
House Price Mean                                                                 object
Total                                                                            object
Total Occupied                                                                   object
Renter occupied                                                                  object
dtype: object

In [14]:
columns_to_drop = ['Population 25 years and over - Less than 9th grade',
                   'Population 25 years and over - 9th to12th (No Diploma)',
                   'Population 25 years and over - High School Graduate (and equivalent)',
                   'Population 25 years and over - Some college, no degree',
                   "Population 25 years and over - Associate's degree",
                   "Population 25 years and over - Bachelor's degree",
                   "Population 25 years and over - Graduate or Prefessional Degree",
                   "Under 5 years",
                   "5 to 9 years",
                   "10 to 14 years",
                   "15 to 19 years",
                   "20 to 24 years",
                   "25 to 34 years",
                   "35 to 44 years",
                   "45 to 54 years",
                   "55 to 59 years", 
                   "60 to 64 years",
                   "65 to 74 years",
                   "75 to 84 years",
                   "85 years and over",
                   "Total Occupied",
                   "Renter occupied",
                   "Total",
                   
                  ]

In [15]:
columns_to_convert = [
    'Total population', 'Under 5 years', 'Percent Under 5 years', 
    '5 to 9 years', 'Percent 5 to 9 years', '10 to 14 years', 
    'Percent 10 to 14 years', '15 to 19 years', 'Percent 15 to 19 years', 
    '20 to 24 years', 'Percent 20 to 24 years', '25 to 34 years', 
    'Percent 25 to 34 years', '35 to 44 years', 'Percent 35 to 44 years', 
    '45 to 54 years', 'Percent 45 to 54 years', '55 to 59 years', 
    'Percent 55 to 59 years', '60 to 64 years', 'Percent 60 to 64 years', 
    '65 to 74 years', 'Percent 65 to 74 years', '75 to 84 years', 
    'Percent 75 to 84 years', '85 years and over', 'Percent 85 years and over', 'Total', 'Total Occupied', 'Renter occupied'
]

for column in columns_to_convert:
    all_df_reset[column] = all_df_reset[column].str.replace(',|%', '', regex=True) .astype(float)

In [16]:
all_df_reset['Crime_Rate_per_100k'] = (all_df_reset['Violent Crimes Sum'] / all_df_reset['Total population']) * 100000
all_df_reset['Percent Home Occupied'] = all_df_reset['Total Occupied'] / all_df_reset['Total'] * 100
all_df_reset['Percent Renter Occupied'] = all_df_reset['Renter occupied'] / all_df_reset['Total'] * 100

In [17]:
all_df_reset

,Year,City,Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - Less than 9th grade,Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - 9th to12th (No Diploma),Population 25 years and over - High School Graduate (and equivalent),Percent Population 25 years and over - High School Graduate (and equivalent),"Population 25 years and over - Some college, no degree","Percent Population 25 years and over - Some college, no degree",...,Percent 85 years and over,Violent Crimes Sum,% All Families,House Price Mean,Total,Total Occupied,Renter occupied,Crime_Rate_per_100k,Percent Home Occupied,Percent Renter Occupied
0,2015,Alameda,2089,3.60,2089,3.60,7242,12.30,11010,18.70,...,2.0,148.0,5.2,789464.7,30710.0,13544.0,17166.0,188.261633,44.102898,55.897102
1,2015,Alhambra,5402,8.30,4923,7.60,18760,28.80,9435,14.50,...,2.6,168.0,11.8,524186.5,29362.0,12184.0,17178.0,196.325901,41.495811,58.504189
2,2015,Anaheim,32506,14.40,25762,11.40,53477,23.60,47633,21.10,...,1.6,1271.0,11.8,479128.8,99991.0,43468.0,56523.0,362.378756,43.471912,56.528088
3,2015,Bakersfield,23326,10.60,22434,10.20,63568,28.80,46592,21.10,...,0.9,1810.0,14.3,214306,114383.0,66085.0,48298.0,484.440364,57.775194,42.224806
4,2015,Baldwin Park,11082,22.10,6156,12.30,15636,31.10,7172,14.30,...,1.2,299.0,14.4,343992.4,18541.0,10092.0,8449.0,388.029485,54.430721,45.569279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,2019,Vista,10080,15.05,6638,9.91,13245,19.77,16027,23.93,...,1.5,354.0,7.9,544957.1,31075.0,14209.0,16866.0,348.291502,45.724859,54.275141
605,2019,West Covina,5308,7.09,4530,6.05,20919,27.95,16083,21.49,...,1.6,260.0,4.1,570472.8,30682.0,17788.0,12894.0,247.350496,57.975360,42.024640
606,2019,Westminster,8307,13.03,6607,10.36,15641,24.53,11273,17.68,...,2.6,259.0,13.5,676782.2,26984.0,12741.0,14243.0,285.739503,47.216869,52.783131
607,2019,Whittier,3021,5.44,3921,7.06,16232,29.24,12079,21.76,...,1.9,213.0,4.7,552625.8,26884.0,16380.0,10504.0,250.332013,60.928433,39.071567
608,2019,Yuba City,5344,11.93,4756,10.62,9396,20.97,11112,24.80,...,2.2,241.0,11.3,307497.6,24393.0,13304.0,11089.0,359.653181,54.540237,45.459763

In [18]:
all_df_reset = all_df_reset.drop(columns=columns_to_drop, errors='ignore')

In [19]:
all_df_reset.dtypes

Year                                                                              int64
City                                                                             object
Percent Population 25 years and over - Less than 9th grade                      float64
Percent Population 25 years and over - 9th to12th (No Diploma)                  float64
Percent Population 25 years and over - High School Graduate (and equivalent)    float64
Percent Population 25 years and over - Some college, no degree                  float64
Percent Population 25 years and over - Associate's degree                       float64
Percent Population 25 years and over - Bachelor's degree                        float64
Percent Population 25 years and over - Graduate or Prefessional Degree          float64
Total population                                                                float64
Percent Under 5 years                                                           float64
Percent 5 to 9 years                                                            float64
Percent 10 to 14 years                                                          float64
Percent 15 to 19 years                                                          float64
Percent 20 to 24 years                                                          float64
Percent 25 to 34 years                                                          float64
Percent 35 to 44 years                                                          float64
Percent 45 to 54 years                                                          float64
Percent 55 to 59 years                                                          float64
Percent 60 to 64 years                                                          float64
Percent 65 to 74 years                                                          float64
Percent 75 to 84 years                                                          float64
Percent 85 years and over                                                       float64
Violent Crimes Sum                                                              float64
% All Families                                                                   object
House Price Mean                                                                 object
Crime_Rate_per_100k                                                             float64
Percent Home Occupied                                                           float64
Percent Renter Occupied                                                         float64
dtype: object

In [20]:
# List of columns to convert from 'object' to 'float64'
percentage_columns = [
    'Percent Under 5 years',
    'Percent 5 to 9 years',
    'Percent 10 to 14 years',
    'Percent 15 to 19 years',
    'Percent 20 to 24 years',
    'Percent 25 to 34 years',
    'Percent 35 to 44 years',
    'Percent 45 to 54 years',
    'Percent 55 to 59 years',
    'Percent 60 to 64 years',
    'Percent 65 to 74 years',
    'Percent 75 to 84 years',
    'Percent 85 years and over',
    '% All Families',
    'House Price Mean',
    'Total population'
]

# Convert each of the percentage columns to numeric type (float64)
for column in percentage_columns:
    all_df_reset[column] = pd.to_numeric(all_df_reset[column], errors='coerce')

# Check the data types again to confirm the changes
print(all_df_reset.dtypes)

Year                                                                              int64
City                                                                             object
Percent Population 25 years and over - Less than 9th grade                      float64
Percent Population 25 years and over - 9th to12th (No Diploma)                  float64
Percent Population 25 years and over - High School Graduate (and equivalent)    float64
Percent Population 25 years and over - Some college, no degree                  float64
Percent Population 25 years and over - Associate's degree                       float64
Percent Population 25 years and over - Bachelor's degree                        float64
Percent Population 25 years and over - Graduate or Prefessional Degree          float64
Total population                                                                float64
Percent Under 5 years                                                           float64
Percent 5 to 9 years                                                            float64
Percent 10 to 14 years                                                          float64
Percent 15 to 19 years                                                          float64
Percent 20 to 24 years                                                          float64
Percent 25 to 34 years                                                          float64
Percent 35 to 44 years                                                          float64
Percent 45 to 54 years                                                          float64
Percent 55 to 59 years                                                          float64
Percent 60 to 64 years                                                          float64
Percent 65 to 74 years                                                          float64
Percent 75 to 84 years                                                          float64
Percent 85 years and over                                                       float64
Violent Crimes Sum                                                              float64
% All Families                                                                  float64
House Price Mean                                                                float64
Crime_Rate_per_100k                                                             float64
Percent Home Occupied                                                           float64
Percent Renter Occupied                                                         float64
dtype: object

In [21]:
all_df_reset

,Year,City,Percent Population 25 years and over - Less than 9th grade,Percent Population 25 years and over - 9th to12th (No Diploma),Percent Population 25 years and over - High School Graduate (and equivalent),"Percent Population 25 years and over - Some college, no degree",Percent Population 25 years and over - Associate's degree,Percent Population 25 years and over - Bachelor's degree,Percent Population 25 years and over - Graduate or Prefessional Degree,Total population,...,Percent 60 to 64 years,Percent 65 to 74 years,Percent 75 to 84 years,Percent 85 years and over,Violent Crimes Sum,% All Families,House Price Mean,Crime_Rate_per_100k,Percent Home Occupied,Percent Renter Occupied
0,2015,Alameda,3.60,3.60,12.30,18.70,7.30,36.00,18.50,78614.0,...,6.4,8.3,4.6,2.0,148.0,5.2,789464.7,188.261633,44.102898,55.897102
1,2015,Alhambra,8.30,7.60,28.80,14.50,6.00,22.90,11.90,85572.0,...,6.0,9.0,3.8,2.6,168.0,11.8,524186.5,196.325901,41.495811,58.504189
2,2015,Anaheim,14.40,11.40,23.60,21.10,6.40,17.40,5.80,350738.0,...,4.0,5.8,2.9,1.6,1271.0,11.8,479128.8,362.378756,43.471912,56.528088
3,2015,Bakersfield,10.60,10.20,28.80,21.10,7.90,13.90,7.50,373627.0,...,4.5,6.1,2.5,0.9,1810.0,14.3,214306.0,484.440364,57.775194,42.224806
4,2015,Baldwin Park,22.10,12.30,31.10,14.30,6.30,10.80,3.20,77056.0,...,4.8,9.0,2.8,1.2,299.0,14.4,343992.4,388.029485,54.430721,45.569279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,2019,Vista,15.05,9.91,19.77,23.93,8.98,15.94,6.42,101639.0,...,3.9,6.5,2.5,1.5,354.0,7.9,544957.1,348.291502,45.724859,54.275141
605,2019,West Covina,7.09,6.05,27.95,21.49,9.00,20.79,7.62,105114.0,...,6.0,9.7,4.8,1.6,260.0,4.1,570472.8,247.350496,57.975360,42.024640
606,2019,Westminster,13.03,10.36,24.53,17.68,7.78,19.52,7.11,90642.0,...,7.3,6.8,6.5,2.6,259.0,13.5,676782.2,285.739503,47.216869,52.783131
607,2019,Whittier,5.44,7.06,29.24,21.76,9.68,15.42,11.39,85087.0,...,5.4,7.6,5.0,1.9,213.0,4.7,552625.8,250.332013,60.928433,39.071567
608,2019,Yuba City,11.93,10.62,20.97,24.80,9.17,12.69,9.83,67009.0,...,7.7,8.8,5.7,2.2,241.0,11.3,307497.6,359.653181,54.540237,45.459763

In [22]:
all_df_reset.to_csv('All_data_cleaned.csv', index=False)