In [33]:
import pandas as pd
from pathlib import Path

poverty_2010 = pd.read_csv("Data_Resources_Yearly/Poverty_2010.csv")
poverty_2011 = pd.read_csv("Data_Resources_Yearly/Poverty_2011.csv")
poverty_2012 = pd.read_csv("Data_Resources_Yearly/Poverty_2012.csv")
poverty_2013 = pd.read_csv("Data_Resources_Yearly/Poverty_2013.csv")
poverty_2014 = pd.read_csv("Data_Resources_Yearly/Poverty_2014.csv")
poverty_2015 = pd.read_csv("Data_Resources_Yearly/Poverty_2015.csv")
poverty_2016 = pd.read_csv("Data_Resources_Yearly/Poverty_2016.csv")
poverty_2017 = pd.read_csv("Data_Resources_Yearly/Poverty_2017.csv")
poverty_2018 = pd.read_csv("Data_Resources_Yearly/Poverty_2018.csv")
poverty_2019 = pd.read_csv("Data_Resources_Yearly/Poverty_2019.csv")

poverty_2010

,GEO_ID,NAME,S1702_C01_001E,S1702_C01_001M,S1702_C02_001E,S1702_C02_001M,S1702_C03_001E,S1702_C03_001M,S1702_C04_001E,S1702_C04_001M,...,S1702_C02_035M,S1702_C03_035E,S1702_C03_035M,S1702_C04_035E,S1702_C04_035M,S1702_C05_035E,S1702_C05_035M,S1702_C06_035E,S1702_C06_035M,Unnamed: 422
0,Geography,Geographic Area Name,All families!!Total!!Estimate!!Families,All families!!Total!!Margin of Error!!Families,All families!!Percent below poverty level!!Est...,All families!!Percent below poverty level!!Mar...,Married-couple families!!Total!!Estimate!!Fami...,Married-couple families!!Total!!Margin of Erro...,Married-couple families!!Percent below poverty...,Married-couple families!!Percent below poverty...,...,All families!!Percent below poverty level!!Mar...,Married-couple families!!Total!!Estimate!!PERC...,Married-couple families!!Total!!Margin of Erro...,Married-couple families!!Percent below poverty...,Married-couple families!!Percent below poverty...,"Female householder, no husband present!!Total!...","Female householder, no husband present!!Total!...","Female householder, no husband present!!Percen...","Female householder, no husband present!!Percen...",NaN
1,1600000US0600562,"Alameda city, California",18236,1066,9.6,4.0,13243,1135,3.6,2.0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1600000US0600884,"Alhambra city, California",19964,1300,10.7,2.9,13577,1336,9.7,3.5,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1600000US0602000,"Anaheim city, California",75396,2109,12.4,2.0,53348,2344,8.6,2.2,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1600000US0602252,"Antioch city, California",24708,1655,8.0,3.6,16954,1854,3.2,2.4,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,1600000US0682996,"Vista city, California",20656,1320,8.8,3.3,15914,1674,8.3,3.7,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
124,1600000US0684200,"West Covina city, California",25023,1305,6.0,2.4,17319,1624,3.4,1.6,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
125,1600000US0684550,"Westminster city, California",20591,1043,17.3,4.6,14871,1154,17.5,5.4,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
126,1600000US0685292,"Whittier city, California",19738,1152,11.9,4.6,13025,1145,3.6,3.6,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
127,1600000US0686832,"Yorba Linda city, California",17178,763,1.4,0.9,14744,913,1.3,0.9,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [34]:
f_df = [
    (poverty_2010, "2010"),
    (poverty_2011, "2011"),
    (poverty_2012, "2012"),
    (poverty_2013, "2013"),
    (poverty_2014, "2014")]

In [35]:
def clean(f_df):
    for dataframe, year in f_df:
        dataframe.rename(columns={
            "S1702_C02_013E": "S1702_C02_015E",
            "S1702_C02_015E": "S1702_C02_017E",
            "S1702_C02_018E": "S1702_C02_020E",
            "S1702_C02_019E": "S1702_C02_021E",
            "S1702_C02_020E": "S1702_C02_022E",
            "S1702_C02_021E": "S1702_C02_023E",
            "S1702_C02_022E": "S1702_C02_024E",
            "S1702_C02_023E": "S1702_C02_025E",
            "S1702_C02_024E": "S1702_C02_026E",
            "S1702_C02_025E": "S1702_C02_027E",
            "S1702_C02_026E": "S1702_C02_032E",
            "S1702_C02_027E": "S1702_C02_033E",
            "S1702_C02_028E": "S1702_C02_034E",
            "S1702_C02_029E": "S1702_C02_035E",
            "S1702_C02_030E": "S1702_C02_036E",
            "S1702_C02_031E": "S1702_C02_037E",
            "S1702_C02_032E": "S1702_C02_038E",
            "S1702_C02_033E": "S1702_C02_039E",
            "S1702_C02_034E": "non1",
            "S1702_C02_035E": "non2"
        }, inplace=True)

# Call the function to rename columns in-place
clean(f_df)

In [56]:
f_df[1][0].head()

,GEO_ID,NAME,S1702_C01_001E,S1702_C01_001M,S1702_C02_001E,S1702_C02_001M,S1702_C03_001E,S1702_C03_001M,S1702_C04_001E,S1702_C04_001M,...,S1702_C02_035M,S1702_C03_035E,S1702_C03_035M,S1702_C04_035E,S1702_C04_035M,S1702_C05_035E,S1702_C05_035M,S1702_C06_035E,S1702_C06_035M,Unnamed: 422
0,Geography,Geographic Area Name,All families!!Total!!Estimate!!Families,All families!!Total!!Margin of Error!!Families,All families!!Percent below poverty level!!Est...,All families!!Percent below poverty level!!Mar...,Married-couple families!!Total!!Estimate!!Fami...,Married-couple families!!Total!!Margin of Erro...,Married-couple families!!Percent below poverty...,Married-couple families!!Percent below poverty...,...,All families!!Percent below poverty level!!Mar...,Married-couple families!!Total!!Estimate!!PERC...,Married-couple families!!Total!!Margin of Erro...,Married-couple families!!Percent below poverty...,Married-couple families!!Percent below poverty...,"Female householder, no husband present!!Total!...","Female householder, no husband present!!Total!...","Female householder, no husband present!!Percen...","Female householder, no husband present!!Percen...",NaN
1,1600000US0600562,"Alameda city, California",18098,1176,6.6,3.0,12866,1326,4.1,2.6,...,(X),(X),-888888888,(X),(X),(X),(X),(X),-888888888,NaN
2,1600000US0600884,"Alhambra city, California",19814,1111,11.2,3.6,13947,1127,9.9,4.1,...,(X),(X),-888888888,(X),(X),(X),(X),(X),-888888888,NaN
3,1600000US0602000,"Anaheim city, California",73982,2379,12.8,2.0,50548,2554,8.8,2.0,...,(X),(X),-888888888,(X),(X),(X),(X),(X),-888888888,NaN
4,1600000US0602252,"Antioch city, California",24390,1685,10.1,4.2,16390,1892,8.2,4.6,...,(X),(X),-888888888,(X),(X),(X),(X),(X),-888888888,NaN

In [53]:
df = [
    (f_df[0][0], "2010"),
    (f_df[1][0], "2011"),  # Corrected this line
    (f_df[2][0], "2012"),
    (f_df[3][0], "2013"),
    (f_df[4][0], "2014"),
    (poverty_2015, "2015"),
    (poverty_2016, "2016"),
    (poverty_2017, "2017"),
    (poverty_2018, "2018"),
    (poverty_2019, "2019")
]

In [54]:

def clean(df):
    clean_df = []
    for dataframe, year in df:
            dataframe = dataframe.drop(columns=[column for column in dataframe.columns if column.endswith('M')])
            dataframe = dataframe.drop(columns=["GEO_ID"])
            dataframe = dataframe.drop(columns=dataframe.columns[dataframe.apply(lambda col: col.astype(str).str.contains('\(X\)').any())])
            dataframe["NAME"] = dataframe["NAME"].str.replace(', California|city|CDP|town', '', regex=True)
            dataframe["NAME"] = dataframe["NAME"].str.strip()
            dataframe = dataframe.drop(columns=dataframe.columns[(dataframe.astype(str) == 'N').all()])
            dataframe["Year"] = year   
            dataframe = dataframe[["Year", "NAME", "S1702_C02_001E", "S1702_C02_002E", "S1702_C02_015E",
                                   "S1702_C02_017E", "S1702_C02_020E", "S1702_C02_021E", "S1702_C02_022E",
                                   "S1702_C02_023E", "S1702_C02_024E", "S1702_C02_025E", "S1702_C02_026E",
                                   "S1702_C02_027E", "S1702_C02_032E", "S1702_C02_033E", "S1702_C02_034E",
                                   "S1702_C02_035E", "S1702_C02_036E", "S1702_C02_037E", "S1702_C02_038E",
                                   "S1702_C02_039E"]]
            dataframe = dataframe.rename(columns={
                "NAME": "City",
                "S1702_C02_001E": "% All Families",
                "S1702_C02_002E": "% With related children of householder under 18 years",
                "S1702_C02_015E": "% Householder worked",
                "S1702_C02_017E": "% Householder 65 years and over",
                "S1702_C02_020E": "% less than high school graduate",
                "S1702_C02_021E": "% High school graduate",
                "S1702_C02_022E": "% Some college, associate degree",
                "S1702_C02_023E": "% Bachelor's degree or higher",
                "S1702_C02_024E": "% No related children under 18",
                "S1702_C02_025E": "% 1-2 related children under 18 ",
                "S1702_C02_026E": "% 3-4 related children under 18",
                "S1702_C02_027E": "% 5 or more related children under 18",
                "S1702_C02_032E": "% Family size 2",
                "S1702_C02_033E": "% Family size 3-4",
                "S1702_C02_034E": "% Family size 5-6",
                "S1702_C02_035E": "% Family size more than 7",
                "S1702_C02_036E": "% No workers in Family",
                "S1702_C02_037E": "% 1 workers in Family",
                "S1702_C02_038E": "% 2 workers in Family",
                "S1702_C02_039E": "% 3 or more workers in Family"})
            dataframe = dataframe.drop(dataframe.index[0])
            clean_df.append(dataframe)
    return clean_df
cleaned_df = clean(df)

In [55]:
cleaned_df[0]

,Year,City,% All Families,% With related children of householder under 18 years,% Householder worked,% Householder 65 years and over,% Householder 65 years and over,% less than high school graduate,% High school graduate,"% Some college, associate degree",...,% 3-4 related children under 18,% 5 or more related children under 18,% Family size 2,% Family size 3-4,% Family size 5-6,% Family size more than 7,% No workers in Family,% 1 workers in Family,% 2 workers in Family,% 3 or more workers in Family
1,2010,Alameda,9.6,15.0,6.6,1.8,2.4,33.6,12.4,13.0,...,28.1,100.0,6.1,7.0,23.6,52.5,28.0,14.1,3.7,0.0
2,2010,Alhambra,10.7,13.8,7.2,7.7,5.6,14.4,11.5,9.5,...,5.1,-,12.7,11.1,3.9,0.0,30.4,12.0,5.9,4.6
3,2010,Anaheim,12.4,18.1,8.8,10.6,9.2,25.5,12.9,8.7,...,29.7,10.6,8.3,13.4,13.7,24.8,30.1,20.1,4.9,2.7
4,2010,Antioch,8.0,13.8,4.7,0.0,0.0,27.1,2.7,8.9,...,27.2,0.0,2.0,11.0,4.2,30.0,36.0,10.9,1.2,1.6
5,2010,Apple Valley,10.4,16.1,8.1,0.0,0.0,0.0,12.2,13.2,...,20.5,23.7,8.4,10.6,15.2,19.9,14.1,12.3,7.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,2010,Vista,8.8,11.7,5.9,2.1,1.2,16.5,8.1,6.4,...,13.5,26.7,7.8,9.0,9.7,13.9,26.3,12.5,0.0,2.0
124,2010,West Covina,6.0,7.7,3.2,2.9,3.8,7.0,8.1,5.9,...,22.3,37.5,3.7,5.1,11.6,8.8,25.9,8.9,1.0,1.4
125,2010,Westminster,17.3,26.1,10.3,10.3,8.2,26.6,24.8,11.6,...,28.3,16.3,13.4,17.7,24.2,6.3,43.1,22.1,5.6,3.8
126,2010,Whittier,11.9,19.5,6.8,5.8,9.7,20.8,20.6,10.2,...,40.9,0.0,7.6,15.0,7.8,32.2,40.7,13.6,3.7,0.0
127,2010,Yorba Linda,1.4,0.6,0.0,3.8,1.2,10.6,0.0,1.5,...,N,N,2.6,1.0,0.0,0.0,11.1,1.6,0.0,0.0

In [57]:
years = ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019"]
file_name = {f"Cleaned_Poverty_{year}": df for df, year in zip(cleaned_df, years)}
for name, df in file_name.items():
    csv_path= f"{name}.csv"
    df.to_csv(csv_path, index=False)

In [58]:
import numpy as np
combined_clean = pd.read_csv("combined_clean.csv")
combined_clean

,Year,City,% All Families,% With related children of householder under 18 years,% Householder worked,% Householder 65 years and over,% Householder 65 years and over.1,% less than high school graduate,% High school graduate,"% Some college, associate degree",...,% 3-4 related children under 18,% 5 or more related children under 18,% Family size 2,% Family size 3-4,% Family size 5-6,% Family size more than 7,% No workers in Family,% 1 workers in Family,% 2 workers in Family,% 3 or more workers in Family
0,2010,Alameda,9.6,15,6.6,1.8,2.4,33.6,12.4,13,...,28.1,100,6.1,7,23.6,52.5,28,14.1,3.7,0.0
1,2010,Alhambra,10.7,13.8,7.2,7.7,5.6,14.4,11.5,9.5,...,5.1,-,12.7,11.1,3.9,0,30.4,12,5.9,4.6
2,2010,Anaheim,12.4,18.1,8.8,10.6,9.2,25.5,12.9,8.7,...,29.7,10.6,8.3,13.4,13.7,24.8,30.1,20.1,4.9,2.7
3,2010,Antioch,8,13.8,4.7,0.0,0,27.1,2.7,8.9,...,27.2,0,2,11,4.2,30,36,10.9,1.2,1.6
4,2010,Apple Valley,10.4,16.1,8.1,0.0,0,0,12.2,13.2,...,20.5,23.7,8.4,10.6,15.2,19.9,14.1,12.3,7.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1364,2019,West Covina,4.1,5.2,1.5,3.9,11.3,4.6,3.2,1.8,...,0,6.2,3.3,4.1,2.6,20.2,5.4,1.4,0.5,NaN
1365,2019,Westminster,13.5,21.3,8.6,12.5,20.4,13,15.4,5.5,...,84.6,11.9,14.8,9.8,22.6,26.5,23.3,6.5,1.1,NaN
1366,2019,Whittier,4.7,6.1,3.2,7.2,14,8.2,0.3,4.5,...,0,6.3,4.1,2.6,9.7,10.7,8.2,1.1,1.5,NaN
1367,2019,Yorba Linda,3.5,7.8,2.7,0.0,0,9.8,4.8,1.9,...,N,2.8,4.8,0,0,9.3,4.8,2.1,1.3,NaN
1368,2019,Yuba City,11.3,17.6,6.5,15.7,22.8,19.6,10,0,...,-,7.9,17.2,9,0,41,8.4,8.3,0,NaN

In [59]:
poverty_all_f = combined_clean[["Year", "City", "% All Families"]]
poverty_all_f

      Year          City % All Families
0     2010       Alameda            9.6
1     2010      Alhambra           10.7
2     2010       Anaheim           12.4
3     2010       Antioch              8
4     2010  Apple Valley           10.4
...    ...           ...            ...
1364  2019   West Covina            4.1
1365  2019   Westminster           13.5
1366  2019      Whittier            4.7
1367  2019   Yorba Linda            3.5
1368  2019     Yuba City           11.3

[1369 rows x 3 columns]

In [60]:
csv_path_1= f"All_Family_Poverty.csv"
poverty_all_f.to_csv(csv_path_1, index=False)