In [2]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

house_price = pd.read_csv("House_price_zillow.csv")
house_price.head()

,City,1/31/2010,2/28/2010,3/31/2010,4/30/2010,5/31/2010,6/30/2010,7/31/2010,8/31/2010,9/30/2010,...,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019
0,Los Angeles,404164.4598,404167.3042,404592.3180,406096.6046,409226.7060,408833.7613,407072.7996,402934.2872,398602.1137,...,6.897376e+05,6.814279e+05,6.763954e+05,6.733915e+05,6.748100e+05,6.809163e+05,6.901198e+05,6.992919e+05,7.076537e+05,7.155686e+05
1,San Diego,398134.2300,400533.3200,403141.0595,407075.7376,408829.0959,408986.6199,406689.2147,404215.2068,400949.9736,...,6.388527e+05,6.402338e+05,6.411670e+05,6.419860e+05,6.418655e+05,6.424454e+05,6.429029e+05,6.446148e+05,6.473825e+05,6.507395e+05
2,San Jose,460051.2802,461969.0025,469693.0971,473156.8861,475033.9047,470614.8005,465152.7953,461735.4475,460514.9015,...,1.039634e+06,1.023506e+06,1.010750e+06,9.993012e+05,9.925774e+05,9.895395e+05,9.918104e+05,9.943792e+05,9.972238e+05,1.000597e+06
3,San Francisco,667379.4349,675172.4690,677039.2997,677985.2109,675332.9911,673091.1566,668338.8560,667928.7155,667712.6132,...,1.288392e+06,1.283121e+06,1.281107e+06,1.283965e+06,1.290062e+06,1.298976e+06,1.306906e+06,1.312538e+06,1.318442e+06,1.324412e+06
4,Sacramento,166719.6654,166335.8141,166522.9460,166214.0161,166115.4018,165829.2282,165701.5828,165027.3992,163260.9980,...,3.391182e+05,3.403117e+05,3.411100e+05,3.417555e+05,3.425741e+05,3.435786e+05,3.448660e+05,3.466134e+05,3.490171e+05,3.512768e+05

In [4]:
years = range(2010,2020)
year_mean = []
for year in years:
    start = f"1/31/{year}"
    end = f"12/31/{year}"
    mean = house_price.loc[:, start:end].mean(axis=1)
    year_mean.append((year, round(mean,1)))

for year, mean in year_mean:
    house_price[str((year))] = mean
    
selected_columns = ["City"] + [str(year) for year in years]
clear_house_price = house_price[selected_columns]

clear_house_price = clear_house_price.sort_values(by="City")
clear_house_price = clear_house_price.reset_index(drop=True)
clear_house_price.dropna(how='any', inplace=True)
clear_house_price

,City,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Acampo,289951.9,267016.0,260897.3,306530.0,363352.3,405627.8,450817.9,493062.7,542123.8,568173.6
1,Acton,355516.6,335887.2,315524.2,360287.7,406704.5,432973.8,453210.8,487450.7,541173.4,569946.7
2,Adelanto,90051.3,88697.2,86120.7,107925.9,138655.1,151341.3,163054.6,185452.3,215121.7,229748.6
4,Agoura Hills,579185.2,547057.9,533376.5,615327.3,679261.9,695740.1,701358.5,756611.8,826808.6,831652.6
5,Agua Dulce,456420.5,423874.9,401228.1,444603.0,490273.9,516722.7,536170.9,578898.9,638783.7,673156.4
...,...,...,...,...,...,...,...,...,...,...,...
960,Yountville,620636.9,590615.5,574237.7,646431.6,710926.7,804310.8,864163.2,915109.8,964335.2,992205.4
961,Yreka,141415.0,134164.9,132623.3,136323.6,142933.8,146663.0,155553.3,163145.6,174738.5,190141.5
962,Yuba City,154288.0,148358.0,150799.3,175069.4,206869.6,222405.7,240476.2,267727.7,292844.2,307497.6
963,Yucaipa,217699.6,202350.2,194634.8,226366.7,268443.8,289755.2,306504.9,336133.9,371743.9,379896.7
964,Yucca Valley,113291.7,103468.5,97964.5,108928.0,123902.9,132496.1,141398.5,161270.1,194505.4,204356.4

In [5]:
csv_path = f"Clean_House_Price.csv"
clear_house_price.to_csv(csv_path, index=False)