In [1]:
import pandas as pd

In [2]:
# read file
file_path = 'Age_2015.csv'

df_2015 = pd.read_csv(file_path)

df_2015

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,144,818","2,507,649","2,540,713","2,519,716","2,606,760","2,884,717","5,832,712","5,190,370","5,243,141","2,480,156","2,149,326","2,981,899","1,518,127","689,532"
2,Percent,"39,144,818",6.40%,6.50%,6.40%,6.70%,7.40%,14.90%,13.30%,13.40%,6.30%,5.50%,7.60%,3.90%,1.80%
3,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimate,"78,614","4,187","4,856","4,035","2,754","4,002","11,336","12,386","12,602","5,773","5,014","6,529","3,599","1,541"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,Estimate,"67,966","2,845","4,031","4,375","5,319","3,615","5,944","7,252","10,367","6,800","6,182","7,153","2,672","1,411"
410,Percent,"67,966",4.20%,5.90%,6.40%,7.80%,5.30%,8.70%,10.70%,15.30%,10.00%,9.10%,10.50%,3.90%,2.10%
411,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,Estimate,"66,944","4,693","5,485","4,591","4,469","4,733","10,048","7,823","8,698","3,368","2,874","6,635","2,201","1,326"
413,Percent,"66,944",7.00%,8.20%,6.90%,6.70%,7.10%,15.00%,11.70%,13.00%,5.00%,4.30%,9.90%,3.30%,2.00%

In [3]:
# remoove the unwanted rows
df_2015 = df_2015[~df_2015['City'].str.contains('Margin of Error|Percent Margin of Error', case=False)]

df_2015

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,144,818","2,507,649","2,540,713","2,519,716","2,606,760","2,884,717","5,832,712","5,190,370","5,243,141","2,480,156","2,149,326","2,981,899","1,518,127","689,532"
2,Percent,"39,144,818",6.40%,6.50%,6.40%,6.70%,7.40%,14.90%,13.30%,13.40%,6.30%,5.50%,7.60%,3.90%,1.80%
3,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimate,"78,614","4,187","4,856","4,035","2,754","4,002","11,336","12,386","12,602","5,773","5,014","6,529","3,599","1,541"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,Estimate,"67,966","2,845","4,031","4,375","5,319","3,615","5,944","7,252","10,367","6,800","6,182","7,153","2,672","1,411"
410,Percent,"67,966",4.20%,5.90%,6.40%,7.80%,5.30%,8.70%,10.70%,15.30%,10.00%,9.10%,10.50%,3.90%,2.10%
411,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,Estimate,"66,944","4,693","5,485","4,591","4,469","4,733","10,048","7,823","8,698","3,368","2,874","6,635","2,201","1,326"
413,Percent,"66,944",7.00%,8.20%,6.90%,6.70%,7.10%,15.00%,11.70%,13.00%,5.00%,4.30%,9.90%,3.30%,2.00%

In [13]:
# save the changes to the csv file
df_2015
.to_csv('Age_2015.csv', index=False)
print('changes saved')

changes saved

In [3]:
# read file
file_path = 'Age_2016.csv'

df_2016 = pd.read_csv(file_path)

df_2016

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,250,017","2,482,422","2,524,786","2,546,294","2,585,154","2,807,120","5,902,164","5,168,066","5,198,221","2,481,314","2,206,037","3,092,039","1,538,860","717,540"
2,Percent,"39,250,017",6.30%,6.40%,6.50%,6.60%,7.20%,15.00%,13.20%,13.20%,6.30%,5.60%,7.90%,3.90%,1.80%
3,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimate,"78,907","4,520","4,777","5,244","2,447","2,934","11,217","11,595","11,768","6,936","5,255","7,228","3,549","1,437"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,Estimate,"68,236","3,428","4,701","5,851","5,639","3,160","6,712","7,801","10,295","4,379","4,405","8,210","2,796",859
413,Percent,"68,236",5.00%,6.90%,8.60%,8.30%,4.60%,9.80%,11.40%,15.10%,6.40%,6.50%,12.00%,4.10%,1.30%
414,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,Estimate,"66,837","4,765","5,047","5,191","4,017","4,177","9,249","10,084","7,294","3,578","4,040","4,603","3,121","1,671"
416,Percent,"66,837",7.10%,7.60%,7.80%,6.00%,6.20%,13.80%,15.10%,10.90%,5.40%,6.00%,6.90%,4.70%,2.50%

In [5]:
# remove the unwanted rows
df_2016 = df_2016[~df_2016['City'].str.contains('Margin of Error|Percent Margin of Error', case=False)]

df_2016

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,250,017","2,482,422","2,524,786","2,546,294","2,585,154","2,807,120","5,902,164","5,168,066","5,198,221","2,481,314","2,206,037","3,092,039","1,538,860","717,540"
2,Percent,"39,250,017",6.30%,6.40%,6.50%,6.60%,7.20%,15.00%,13.20%,13.20%,6.30%,5.60%,7.90%,3.90%,1.80%
3,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimate,"78,907","4,520","4,777","5,244","2,447","2,934","11,217","11,595","11,768","6,936","5,255","7,228","3,549","1,437"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,Estimate,"68,236","3,428","4,701","5,851","5,639","3,160","6,712","7,801","10,295","4,379","4,405","8,210","2,796",859
413,Percent,"68,236",5.00%,6.90%,8.60%,8.30%,4.60%,9.80%,11.40%,15.10%,6.40%,6.50%,12.00%,4.10%,1.30%
414,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,Estimate,"66,837","4,765","5,047","5,191","4,017","4,177","9,249","10,084","7,294","3,578","4,040","4,603","3,121","1,671"
416,Percent,"66,837",7.10%,7.60%,7.80%,6.00%,6.20%,13.80%,15.10%,10.90%,5.40%,6.00%,6.90%,4.70%,2.50%

In [ ]:
# save the changes to the csv file
df_2016.to_csv('Age_2016.csv', index=False)
print('changes saved')

In [7]:
# read file
file_path = 'Age_2017.csv'

df_2017 = pd.read_csv(file_path)

df_2017

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,536,653","2,460,425","2,468,508","2,597,863","2,569,487","2,761,097","6,018,225","5,232,877","5,159,747","2,495,755","2,267,852","3,198,555","1,585,672","720,590"
2,Margin of Error,*****,"Â±3,179","Â±19,146","Â±19,413","Â±6,233","Â±5,843","Â±6,521","Â±5,306","Â±5,266","Â±17,637","Â±17,645","Â±3,468","Â±12,967","Â±12,952"
3,Percent,"39,536,653",6.20%,6.20%,6.60%,6.50%,7.00%,15.20%,13.20%,13.10%,6.30%,5.70%,8.10%,4.00%,1.80%
4,Percent Margin of Error,(X),Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
711,Estimate,"66,872","5,014","4,310","5,219","4,098","4,090","11,713","6,932","8,079","4,210","3,533","5,727","2,966",981
712,Margin of Error,Â±47,Â±618,Â±991,Â±828,Â±825,Â±845,"Â±1,629",Â±985,"Â±1,089",Â±708,Â±949,Â±926,Â±854,Â±409
713,Percent,"66,872",7.50%,6.40%,7.80%,6.10%,6.10%,17.50%,10.40%,12.10%,6.30%,5.30%,8.60%,4.40%,1.50%
714,Percent Margin of Error,(X),Â±0.9,Â±1.5,Â±1.2,Â±1.2,Â±1.3,Â±2.4,Â±1.5,Â±1.6,Â±1.1,Â±1.4,Â±1.4,Â±1.3,Â±0.6

In [8]:
# remove the unwanted rows
df_2017 = df_2017[~df_2017['City'].str.contains('Margin of Error|Percent Margin of Error', case=False)]

df_2017

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,536,653","2,460,425","2,468,508","2,597,863","2,569,487","2,761,097","6,018,225","5,232,877","5,159,747","2,495,755","2,267,852","3,198,555","1,585,672","720,590"
3,Percent,"39,536,653",6.20%,6.20%,6.60%,6.50%,7.00%,15.20%,13.20%,13.10%,6.30%,5.70%,8.10%,4.00%,1.80%
5,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Estimate,"79,188","5,843","5,228","4,084","3,299","3,742","12,706","12,862","9,414","3,192","5,681","8,315","3,114","1,708"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,Estimate,"68,234","3,312","3,943","4,182","5,135","3,951","5,940","8,087","9,200","6,507","5,762","7,271","3,333","1,611"
708,Percent,"68,234",4.90%,5.80%,6.10%,7.50%,5.80%,8.70%,11.90%,13.50%,9.50%,8.40%,10.70%,4.90%,2.40%
710,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
711,Estimate,"66,872","5,014","4,310","5,219","4,098","4,090","11,713","6,932","8,079","4,210","3,533","5,727","2,966",981
713,Percent,"66,872",7.50%,6.40%,7.80%,6.10%,6.10%,17.50%,10.40%,12.10%,6.30%,5.30%,8.60%,4.40%,1.50%

In [9]:
# save the changes to the csv file
df_2017.to_csv('Age_2017.csv', index=False)
print('changes saved')

changes saved

In [12]:
# read file
file_path = 'Age_2018.csv'

df_2018 = pd.read_csv(file_path)

df_2018

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,557,045","2,428,493","2,398,894","2,646,096","2,557,470","2,710,448","6,034,398","5,264,457","5,068,026","2,485,050","2,296,376","3,286,461","1,651,296","729,580"
2,Margin of Error,*****,"Â±2,944","Â±15,832","Â±15,632","Â±6,188","Â±6,775","Â±6,234","Â±6,679","Â±4,621","Â±16,917","Â±17,290","Â±3,851","Â±11,101","Â±10,694"
3,Percent,"39,557,045",6.10%,6.10%,6.70%,6.50%,6.90%,15.30%,13.30%,12.80%,6.30%,5.80%,8.30%,4.20%,1.80%
4,Percent Margin of Error,(X),Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
721,Estimate,"66,988","5,244","5,350","4,089","4,476","3,522","10,079","8,367","7,325","3,524","4,008","5,659","3,558","1,787"
722,Margin of Error,Â±24,Â±608,"Â±1,038",Â±881,"Â±1,123",Â±833,"Â±1,052",Â±970,Â±803,Â±791,Â±800,Â±750,Â±738,Â±680
723,Percent,"66,988",7.80%,8.00%,6.10%,6.70%,5.30%,15.00%,12.50%,10.90%,5.30%,6.00%,8.40%,5.30%,2.70%
724,Percent Margin of Error,(X),Â±0.9,Â±1.5,Â±1.3,Â±1.7,Â±1.2,Â±1.6,Â±1.4,Â±1.2,Â±1.2,Â±1.2,Â±1.1,Â±1.1,Â±1.0

In [13]:
# remove the unwanted rows
df_2018 = df_2018[~df_2018['City'].str.contains('Margin of Error|Percent Margin of Error', case=False)]

df_2018

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,557,045","2,428,493","2,398,894","2,646,096","2,557,470","2,710,448","6,034,398","5,264,457","5,068,026","2,485,050","2,296,376","3,286,461","1,651,296","729,580"
3,Percent,"39,557,045",6.10%,6.10%,6.70%,6.50%,6.90%,15.30%,13.30%,12.80%,6.30%,5.80%,8.30%,4.20%,1.80%
5,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Estimate,"78,322","4,629","4,279","4,968","3,382","3,308","12,317","11,374","10,966","4,062","5,472","8,388","3,752","1,425"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,Estimate,"67,804","4,377","4,411","4,799","4,079","2,020","7,181","9,141","9,016","3,872","4,758","9,171","3,358","1,621"
718,Percent,"67,804",6.50%,6.50%,7.10%,6.00%,3.00%,10.60%,13.50%,13.30%,5.70%,7.00%,13.50%,5.00%,2.40%
720,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
721,Estimate,"66,988","5,244","5,350","4,089","4,476","3,522","10,079","8,367","7,325","3,524","4,008","5,659","3,558","1,787"
723,Percent,"66,988",7.80%,8.00%,6.10%,6.70%,5.30%,15.00%,12.50%,10.90%,5.30%,6.00%,8.40%,5.30%,2.70%

In [14]:
# save the changes to the csv file
df_2018.to_csv('Age_2018.csv', index=False)
print('changes saved')

changes saved

In [15]:
# read file
file_path = 'Age_2019.csv'

df_2019 = pd.read_csv(file_path)

df_2019

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,512,223","2,377,839","2,380,762","2,629,510","2,547,449","2,638,791","6,036,052","5,298,911","4,974,817","2,461,936","2,331,158","3,391,856","1,725,842","717,300"
2,Margin of Error,*****,"Â±3,612","Â±21,917","Â±20,779","Â±7,689","Â±6,800","Â±7,739","Â±6,300","Â±5,071","Â±19,418","Â±19,848","Â±4,201","Â±12,755","Â±12,335"
3,Percent,"39,512,223",6.00%,6.00%,6.70%,6.40%,6.70%,15.30%,13.40%,12.60%,6.20%,5.90%,8.60%,4.40%,1.80%
4,Percent Margin of Error,(X),Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1,Â±0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716,Estimate,"67,009","3,000","4,924","4,268","4,742","5,275","9,204","7,705","8,242","3,286","5,164","5,894","3,803","1,502"
717,Margin of Error,Â±26,Â±621,"Â±1,250",Â±931,"Â±1,147","Â±1,046","Â±1,444","Â±1,222","Â±1,253",Â±709,Â±887,Â±804,Â±739,Â±664
718,Percent,"67,009",4.50%,7.30%,6.40%,7.10%,7.90%,13.70%,11.50%,12.30%,4.90%,7.70%,8.80%,5.70%,2.20%
719,Percent Margin of Error,(X),Â±0.9,Â±1.9,Â±1.4,Â±1.7,Â±1.6,Â±2.2,Â±1.8,Â±1.9,Â±1.1,Â±1.3,Â±1.2,Â±1.1,Â±1.0

In [16]:
# remove the unwanted rows
df_2019 = df_2019[~df_2019['City'].str.contains('Margin of Error|Percent Margin of Error', case=False)]

df_2019

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"39,512,223","2,377,839","2,380,762","2,629,510","2,547,449","2,638,791","6,036,052","5,298,911","4,974,817","2,461,936","2,331,158","3,391,856","1,725,842","717,300"
3,Percent,"39,512,223",6.00%,6.00%,6.70%,6.40%,6.70%,15.30%,13.40%,12.60%,6.20%,5.90%,8.60%,4.40%,1.80%
5,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Estimate,"77,630","5,500","3,982","4,005","3,835","3,943","11,795","12,262","9,363","4,176","5,679","8,635","2,934","1,521"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,Estimate,"67,645","3,042","4,029","4,588","3,694","2,843","7,496","7,742","11,353","5,751","4,263","7,889","4,071",884
713,Percent,"67,645",4.50%,6.00%,6.80%,5.50%,4.20%,11.10%,11.40%,16.80%,8.50%,6.30%,11.70%,6.00%,1.30%
715,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716,Estimate,"67,009","3,000","4,924","4,268","4,742","5,275","9,204","7,705","8,242","3,286","5,164","5,894","3,803","1,502"
718,Percent,"67,009",4.50%,7.30%,6.40%,7.10%,7.90%,13.70%,11.50%,12.30%,4.90%,7.70%,8.80%,5.70%,2.20%

In [17]:
# save the changes to the csv file
df_2019.to_csv('Age_2019.csv', index=False)
print('changes saved')

changes saved

In [18]:
# merge the 5 csv

# create year column for each csv
df_2015 = pd.read_csv('Age_2015.csv')
df_2015['Year'] = 2015

df_2016 = pd.read_csv('Age_2016.csv')
df_2016['Year'] = 2016

df_2017 = pd.read_csv('Age_2017.csv')
df_2017['Year'] = 2017

df_2018 = pd.read_csv('Age_2018.csv')
df_2018['Year'] = 2018

df_2019 = pd.read_csv('Age_2019.csv')
df_2019['Year'] = 2019

In [20]:
# coombine the csv's into one
merged_df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)
merged_df

,City,Total population,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 59 years,60 to 64 years,65 to 74 years,75 to 84 years,85 years and over,Year
0,California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
1,Estimate,"39,144,818","2,507,649","2,540,713","2,519,716","2,606,760","2,884,717","5,832,712","5,190,370","5,243,141","2,480,156","2,149,326","2,981,899","1,518,127","689,532",2015
2,Percent,"39,144,818",6.40%,6.50%,6.40%,6.70%,7.40%,14.90%,13.30%,13.40%,6.30%,5.50%,7.60%,3.90%,1.80%,2015
3,"Alameda city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
4,Estimate,"78,614","4,187","4,856","4,035","2,754","4,002","11,336","12,386","12,602","5,773","5,014","6,529","3,599","1,541",2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,Estimate,"67,645","3,042","4,029","4,588","3,694","2,843","7,496","7,742","11,353","5,751","4,263","7,889","4,071",884,2019
2123,Percent,"67,645",4.50%,6.00%,6.80%,5.50%,4.20%,11.10%,11.40%,16.80%,8.50%,6.30%,11.70%,6.00%,1.30%,2019
2124,"Yuba City city, California",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
2125,Estimate,"67,009","3,000","4,924","4,268","4,742","5,275","9,204","7,705","8,242","3,286","5,164","5,894","3,803","1,502",2019
2126,Percent,"67,009",4.50%,7.30%,6.40%,7.10%,7.90%,13.70%,11.50%,12.30%,4.90%,7.70%,8.80%,5.70%,2.20%,2019

In [21]:
# create a new merged csv file
merged_df.to_csv('Merged_Age.csv', index=False)